body {
    background-color: #fffbfe;
    font-family: 'Sen', sans-serif;
    font-size: 1.5rem;
    letter-spacing: 1.5px;
    line-height: 1.6;
}

h1 {
    font-size: 3rem;
    text-transform: uppercase;
    line-height: 1.6;
    position: relative;
}

.wrapper {
    max-width: 1140px;
    margin: 0 auto;
}

.lowercase {
    text-transform: lowercase;
    font-size: 2rem;
}

.top-nav {
    display: flex;
    justify-content: flex-end;
    height: 10vh;
}

.top-nav a {
    color: black;
}

.top-nav a:hover {
    color: black;
}

ul {
    list-style-type: none;
}

.top-nav ul{
    display: flex;
    justify-content: right;
    align-items: center;
}

.top-nav li{
    font-size: 1.5rem;
    margin: 10px 10px;
}

.welcome {
    min-height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.welcoming .name {
    box-shadow: inset 0px -6px 0px 0px #abff4f; 
}

/* .name{
    -webkit-text-stroke: 0.0vw;
} */

.name::before,
.name::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

.name::before {
    background-color: teal;
    animation: typewriter 1s ease forwards;
}

@keyframes typewriter {
    to {
        left:100%;
    }
}

footer {
    text-align: center;
    height: 10vh;
}

.spacer {
    height: 20vh;
}

.about-me-header {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.about-me-header .name {
    box-shadow: inset 0px -4px 0px 0px #c2eabd; 
}

.about-me-header .nickname {
    margin-left: 10px;
  }

.about-me-header .my-nickname{
    box-shadow: inset 0px -3px 0px 0px #35ce8d; 
  }

.about-container {
    display: flex;
    margin: 40px 0;
    align-items: stretch;
}

.about-text { 
    max-width: 100%;
    padding-right: 30px;
    font-size: 1.3rem;
}

.about-pics {
    flex-basis: 40%;
}

.social-list{
    margin-top: 2rem;
    width: 100%;
}

.social-list ul{
    display: flex;
    justify-content: center;
    align-content: center;
    height: 10vh;
    padding: 0;
}

.social-list li{
    text-align: center;
    flex-basis: 30%;
}

.social-list-icon{
    color: #297373;
    font-size: 2.4rem;
}

.social-list-icon:hover {
    color: #c4f4c7;
}